<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Activity1.Activity_14</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestCase9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
