<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="88bd7e">  <td>20/03/24 17:56:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Activity_14.beforeClass()[pri:0, instance:Activity1.Activity_14@61d6015a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237825806</td>   <td></td> </tr>
<tr bgcolor="88bd7e">  <td>20/03/24 17:56:34</td>   <td>8891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity_14.TestCase1()[pri:1, instance:Activity1.Activity_14@61d6015a]">TestCase1</td> 
  <td>main@1237825806</td>   <td></td> </tr>
<tr bgcolor="88bd7e">  <td>20/03/24 17:56:35</td>   <td>9211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity_14.TestCase2()[pri:2, instance:Activity1.Activity_14@61d6015a]">TestCase2</td> 
  <td>main@1237825806</td>   <td></td> </tr>
<tr bgcolor="88bd7e">  <td>20/03/24 17:56:37</td>   <td>11716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity_14.TestCase3()[pri:3, instance:Activity1.Activity_14@61d6015a]">TestCase3</td> 
  <td>main@1237825806</td>   <td></td> </tr>
<tr bgcolor="88bd7e">  <td>20/03/24 17:56:39</td>   <td>13946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity_14.TestCase4()[pri:4, instance:Activity1.Activity_14@61d6015a]">TestCase4</td> 
  <td>main@1237825806</td>   <td></td> </tr>
<tr bgcolor="88bd7e">  <td>20/03/24 17:56:41</td>   <td>15900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity_14.TestCase5()[pri:5, instance:Activity1.Activity_14@61d6015a]">TestCase5</td> 
  <td>main@1237825806</td>   <td></td> </tr>
<tr bgcolor="88bd7e">  <td>20/03/24 17:56:44</td>   <td>18124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity_14.TestCase6()[pri:6, instance:Activity1.Activity_14@61d6015a]">TestCase6</td> 
  <td>main@1237825806</td>   <td></td> </tr>
<tr bgcolor="88bd7e">  <td>20/03/24 17:56:45</td>   <td>19871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity_14.TestCase7()[pri:7, instance:Activity1.Activity_14@61d6015a]">TestCase7</td> 
  <td>main@1237825806</td>   <td></td> </tr>
<tr bgcolor="88bd7e">  <td>20/03/24 17:56:48</td>   <td>22125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity_14.TestCase8()[pri:8, instance:Activity1.Activity_14@61d6015a]">TestCase8</td> 
  <td>main@1237825806</td>   <td></td> </tr>
<tr bgcolor="88bd7e">  <td>20/03/24 17:56:50</td>   <td>24357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity_14.TestCase9()[pri:9, instance:Activity1.Activity_14@61d6015a]">TestCase9</td> 
  <td>main@1237825806</td>   <td></td> </tr>
<tr bgcolor="88bd7e">  <td>20/03/24 17:56:51</td>   <td>25430</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Activity_14.afterClass()[pri:0, instance:Activity1.Activity_14@61d6015a]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237825806</td>   <td></td> </tr>
</table>
